OPENAI_API_KEY=".....................................""
OPENAI_MODEL=gpt-5.6-luna


# Optional: only required if you want the Gmail tool to send a real email.
GMAIL_SENDER_EMAIL="donotreply.xyzcorp@gmail.com"
GMAIL_APP_PASSWORD="************"
as i can't share the password gmail functionalties might not work... but shown in demo video
